
/******************************************* Acceuil ****************************************/
body {
    background-image: url("../imgs/fond.png");
    width: 100%;
}

#button {
    margin-left: 33%;
}

#connexion {
    width: 55%;
    height: 80px;
    margin-bottom: 10px;
    border: 0;
    font-family: fantasy;
    font-size: 300%;
    background-color: #28a8be;
    border-radius: 40px;
    color: #f7931e;
    text-shadow: black 2px 0 0;
}

#inscription {
    width: 55%;
    height: 80px;
    margin-bottom: 10px;
    border: 0;
    font-family: fantasy;
    font-size: 300%;
    background-color: #f7931e;
    border-radius: 40px;
    color: #28a8be;
    text-shadow: black 2px 0 0;
}

#textfin {
    background-color: transparent;
    width: 645px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 103%;
    text-align: center;
    text-shadow: white 3px 1px, white -3px 1px, white -3px -1px, white 3px -1px;
}

#img {
    width: 60%;
    margin-left: 22%;
    margin-bottom: 45px;
}


/*********************************************** Connexion ******************************************************/

#input {
    margin-left: 33%;
}

#pseudo {
    width: 35%;
    height: 80px;
    margin-bottom: 10px;
    border: 0;
    font-size: 220%;
    background-color: #28a8be;
    border-radius: 40px;
    color: black;
    padding-left: 2%;
}

#motdepasse {
    width: 35%;
    height: 80px;
    margin-bottom: 10px;
    border: 0;
    font-size: 220%;
    background-color: #f7931e;
    border-radius: 40px;
    color: black;
    padding-left: 2%;
}

.label {
    font-size: 250%;
    background-color: white;
    float: left;
    width: 240px;
    margin-top: 15px;
}

#valider {
    width: 20%;
    height: 60px;
    margin-bottom: 10px;
    border: 0;
    font-size: 220%;
    background-color: #5DEA69;
    border-radius: 40px;
    color: black;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 19%;
    margin-top: 2%;
    text-align: center;
}


/***************************************** Inscription ***********************************************/

#symboleMec,#symboleFille,#symboleAutre {
    width: 35px;
    height: 35px;
}

#formInscription {
    margin-left: 33%;
}

.labelInscription {
    font-size: 200%;
    background-color: white;
    float: left;
    width: 250px;
    margin-top: 6px;
}

.inputInscription1 {
    width: 30%;
    height: 50px;
    margin-bottom: 5px;
    border: 0;
    font-size: 190%;
    background-color: #f7931e;
    border-radius: 40px;
    color: black;
    padding-left: 2%;
}

.inputInscription2 {
    width: 30%;
    height: 50px;
    margin-bottom: 5px;
    border: 0;
    font-size: 190%;
    background-color: #28a8be;
    border-radius: 40px;
    color: black;
    padding-left: 2%;
}

input[type="radio"] {
    margin-top: 20px;
    width: 4%;
    height: 30px;
    margin-left: 0;
    margin-right: 0;
}

input[type="date"] {
    color: dimgray;
}

#validerInscription {
    width: 10%;
    height: 50px;
    margin-bottom: 30%;
    border: 0;
    font-size: 180%;
    background-color: #5DEA69;
    border-radius: 40px;
    color: black;
    margin-top: 4%;
    margin-right: 38%;
    text-align: center;
}





